body {
    font-family: Arial !important;
    background-color: antiquewhite;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #image{
    padding: 25px;
    margin: 25px;
    width: 400px;
    background-color: white;
    border: solid 2px black;
    
  }

  img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    
  }
  #shoppingCart{
    background-color: white;
    font-size: medium;
    font-weight: bold;
    
  }
  #cartHolder{
    width:500px;
    border:5px solid black;
    padding:10px;
    background-color: gray;
  }
  #shoppingItem{
    margin-top: 5px;
    margin-left: 25px;
    border:1px solid black;
  }
  #total{
    border:5px solid black;
    background-color: white;
    padding-left: 20px;
    width:110px;
  }